<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Horo Server API Index</title>
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css?fc=1Nxlcq6">
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css?fc=1Nxlcq6">
</head>
<body>
<div class="container">
    <div class="container">
        <h1 class="header center orange-text">Dev.Horo</h1>
        <div class="row center"><h4>Horo in your Kernel</h4></div>
        <div class="row center">
          <a href="https://wiki.yoitsu.moe/wiki/Portal:Dev.horo" class="btn-large waves-effect blue">Project Wiki</a>
          <a href="https://github.com/VOID001/dev.horo" class="btn-large waves-effect white black-text">Download Now</a>
        </div>
    </div>
    <h5>Horo Status</h5>
    <table>
        <thead>
        <?php foreach ($stats as $name => $info) { ?>
            <th><?= $name ?></th>
        <?php } ?>
        </thead>
        <tbody>
        <?php foreach ($stats as $name => $info) { ?>
            <th><?= $info ?></th>
        <?php } ?>
        </tbody>
    </table>
    <?php if (isset($users[0]) && $users[0]!= NULL) {?>
        <h5>Master(food) Overview</h5>
        <table>
            <thead>
            <?php foreach ($users[0] as $key => $val) {?>
                <th><?= $key ?></th>
            <?php } ?>
            </thead>
            <tbody>
            <?php for ($i = 0; $i < count($users); $i++){ ?>
                <tr>
                    <?php foreach ($users[$i] as $key => $val) {?>
                        <td><?= $val ?></td>
                    <?php } ?>
                </tr>
            <?php } ?>
            <tbody>
        </table>
    <?php } ?>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
</div>
</body>
</html>
